.sectionTitle {
  background: linear-gradient(
    109.6deg,
    rgb(229, 68, 121) 11.2%,
    rgb(157, 55, 206) 91.2%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -85px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 159px;
    background-image: url("/assets/line3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.contact {
  @media screen and (max-width: 1042px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
